In [7]:
# Import relevant libraries
import warnings
warnings.simplefilter("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Import dataset WineMatters and save in variable wm
wm = pd.read_csv(r'WineMatters.csv')

In [3]:
# Set WineID as index and show dataset
wm.set_index('WineID', inplace = True)

In [8]:
# Show dataset
wm.describe()

,Aging_Time,Litters_Barrel,Magnesium,Residual_Sugar,Acidity,Floral,Wood,Sweetness,Red_Fruit,Citric,Density,Color_Intensity,Cloudiness,Alcohol,Astringency,Satisfaction_France,Satisfaction_Spain,Satisfaction_Portugal
count,129881.000000,129881.000000,129881.000000,129490.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000,129881.000000
mean,39.427907,1981.419854,14.713599,15.090779,3.485914,3.340820,2.851972,2.990422,3.249113,3.383451,3.519683,3.472086,3.466743,2.838575,2.990653,7.391351,7.411523,6.705138
std,15.119312,1027.119025,38.071002,38.465273,1.292228,1.260586,1.443746,1.305965,1.318827,1.346087,1.306524,1.305573,1.273503,1.393000,1.527221,2.312959,2.303540,2.597452
min,7.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,27.000000,1359.000000,0.000000,0.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,6.000000,6.000000,4.000000
50%,40.000000,1925.000000,0.000000,0.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,8.000000,8.000000,8.000000
75%,51.000000,2544.000000,12.000000,13.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.000000,10.000000,10.000000,8.000000
max,85.000000,6951.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,5.000000,5.000000,10.000000,10.000000,10.000000

<b><font size="5">Creating Dummy Variables</font><a class="anchor"><a id='toc'></a></b>

In [5]:
# Create a new dataset named cat_data that will contain the columns ['Type','Sulphites','Barrel', 'Grapes'] from the dataset wm.
cat_data = wm[['Type','Sulphites','Barrel', 'Grapes']].copy()
cat_data.head()

         Type    Sulphites     Barrel  Grapes
WineID
1       White  Not Present  Aluminium  Single
2         Red      Present  Aluminium  Single
3       White  Not Present  Aluminium  Single
4       White  Not Present  Aluminium  Single
5       White  Not Present  Aluminium  Single

In [6]:
#  Create a new dataset named dummy that is going to equal pd.get_dummies(cat_data, drop_first=True).
dummy = pd.get_dummies(cat_data, drop_first = True)
dummy.head()

,Type_White,Sulphites_Not Present,Sulphites_Present,Sulphites_Very Few,Barrel_Wooden,Grapes_Single
WineID,,,,,,
1,1,1,0,0,0,1
2,0,0,1,0,0,1
3,1,1,0,0,0,1
4,1,1,0,0,0,1
5,1,1,0,0,0,1

<b><font size="5">Scaling Data</font><a class="anchor"><a id='toc'></a></b>

In [9]:
# Create a new dataset named finalDatathat will contain the columns from wm.
finalData = wm[['Acidity','Floral','Wood','Sweetness','Red_Fruit', 'Citric', 'Density', 'Color_Intensity', 'Cloudiness', 'Alcohol', 'Astringency', 'Satisfaction_France', 'Satisfaction_Spain', 'Satisfaction_Portugal']]

In [11]:
# Create an instance of MinMaxScaler() named minmax_scaler.
minmax_scaler = MinMaxScaler()

In [12]:
# Use the .fit()method of minmax_scaler to fit the scaler to finalData and assign the results to the object scale
scale = minmax_scaler.fit(finalData)

In [13]:
# Use the .transform() method of scale to apply MinMaxScaler to finalData and assign it to the object minmax_data.
minmax_data = scale.transform(finalData)

In [14]:
# Create a new dataset named minmax_data that will contain the command : pd.DataFrame(minmax_data, columns = finalData.columns).

minmax_data = pd.DataFrame(minmax_data, columns = finalData.columns)
minmax_data.head()

,Acidity,Floral,Wood,Sweetness,Red_Fruit,Citric,Density,Color_Intensity,Cloudiness,Alcohol,Astringency,Satisfaction_France,Satisfaction_Spain,Satisfaction_Portugal
0,0.0,1.0,0.0,0.4,0.4,0.8,0.4,0.6,0.500000,0.0,0.0,0.50,0.6,0.4
1,0.8,0.4,0.0,0.6,0.0,0.4,0.4,0.6,0.666667,0.0,0.0,0.75,0.6,0.4
2,0.6,0.8,0.0,0.6,0.4,0.0,0.4,0.4,0.500000,0.0,0.0,0.75,0.8,0.4
3,0.0,0.8,0.0,0.6,0.6,0.8,0.6,0.2,0.166667,0.0,0.0,0.00,0.2,0.6
4,0.0,0.8,0.0,0.6,0.8,0.6,0.8,0.4,0.333333,0.0,0.0,0.25,0.4,1.0